<!-- Modal -->
<div
  class="modal fade"
  id="placesModal"
  tabindex="-1"
  aria-labelledby="placesModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="placesModalLabel">Selecione um ambiente</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <input
          class="form-control"
          type="search"
          placeholder="Pesquisar"
          id="searchBar"
          aria-label="Search"
        />
        <div id="placeList" class="row row-cols-1 row-cols-md-6 g-4 pt-3"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Fechar
        </button>
      </div>
    </div>
  </div>
</div>
