<!doctype html>
<html lang="pt-br" data-bs-theme="auto">

<head>
  <script src="./assets/js/color-modes.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.115.4">
  <title><%- pageName %> · Ptracker</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/dashboard/">



  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">

  <link href="./assets/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="./assets/css/dashboard.css" rel="stylesheet">
</head>

<body>
  <%- include('./components/themeSwitch') %>


  
  <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" href="#"><img src="./assets/images/Sesi-SP.jpg"
        width="130px"></a>

    <ul class="navbar-nav flex-row d-md-none">
      <li class="nav-item text-nowrap">
        <button class="nav-link px-3 text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSearch"
          aria-controls="navbarSearch" aria-expanded="false" aria-label="Toggle search">
          <svg class="bi">
            <use xlink:href="#search" />
          </svg>
        </button>
      </li>
      <li class="nav-item text-nowrap">
        <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu"
          aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
          <svg class="bi">
            <use xlink:href="#list" />
          </svg>
        </button>
      </li>
    </ul>

    <div id="navbarSearch" class="navbar-search w-100 collapse">
      <input class="form-control w-100 rounded-0 border-0" type="text" placeholder="Search" aria-label="Search">
    </div>
  </header>



  <div class="container-fluid">
    <div class="row">
        <%- include('./components/sidebar') %>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container">
          <div class="row">
            <div class="row row-cols-1 row-cols-md-3 g-4">
              <div class="col">

                <div class="card" onclick="verifyAmbient();">
                  <img src="./assets/images/Sesi-SP.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Verificar ambiente</h5>
                    <p class="card-text">Verifique todos os objetos de uma determinada sala ou determinado ambiente.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" id="vObjectCard" onclick="verifyObject();">
                  <img src="./assets/images/Sesi-SP.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Verificar objetos</h5>
                    <p class="card-text">Verifique a qual local um determinado objeto pertence.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card" onclick="addAmbient();">
                  <img src="./assets/images/Sesi-SP.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Adicionar ambientes</h5>
                    <p class="card-text">Adicione novos ambientes para organizar.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card " onclick="addObject();">
                  <img src="./assets/images/Sesi-SP.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Adicionar objetos</h5>
                    <p class="card-text">Adicione objetos.</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card " onclick="moveObject();">
                  <img src="./assets/images/Sesi-SP.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Movimentar objeto</h5>
                    <p class="card-text">Movimente um objeto de um ambiente para outro</p>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card " onclick="generateReport();">
                  <img src="./assets/images/Sesi-SP.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Gerar relatório</h5>
                    <p class="card-text">Gere relatórios de conferencias</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </main>
    </div>
  </div>
  <script src="./assets/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"
    integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG"
    crossorigin="anonymous"></script>
  <script>
    function verifyAmbient() {
      window.location = "/places";
    }
    function verifyObject() {
      window.location = "/objects/verifying";
    }
    function addAmbient() {
      window.location = "/places/add";
    }
    function addObject() {
      window.location = "/objects/add";
    }
    function addUser() {
      window.location = "#addUser";
    }
  </script>
  <script src="./assets/js/dashboard.js"></script>
</body>

</html>